.header-container {
  height: 75px;
  background-color: rgb(114, 27, 255);
  color: #fff;
}
.header-container .center{
}
.header-container h1{
    font-size: 18px;
}


@media screen and (max-width: 650px) {

 .header-container h1{
  font-size: 14px;
 }
}