.product {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 16px -5px #000000; 
  box-shadow: 0px 0px 16px -5px #000000;}
.info {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}

.btn-add {
  background-color: rgb(114, 27, 255);
  color: #fff;
  width: 90%;
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid rgb(114, 27, 255);
  outline: 0;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 10px 0;
  font-weight: bold;
  transition: 0.5s all ease-in-out;
}
.btn-add:hover{
    color: rgb(114, 27, 255);
    background-color: #fff;
}

.title{
  color: rgb(36, 5, 87);
  font-size: 18px;
}

.price{
  color: rgb(151, 151, 151);
  font-size: 16px;
}