@font-face {
  font-family: IranSans;
  src: url("fonts/IRANSans.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  direction: rtl;
  font-family: IranSans;
  font-weight: 300;
  background-color: #f3f3f3;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  display: flex;
}

.container {
  width: 100%;
}

.center {
  width: 1200px;
}
